body {
  overflow-x: hidden;
  overflow-y: hidden;
  .head {
    background-color: skyblue;
    color: navy;
    padding: 20px;
    .logo {
      cursor: pointer;
    }
  }
  .nav_wrapper {
    background: navy;
    font-size: 20px;
    .nav_menu {
      text-align: center;
      color: white;
      .nav_button {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        &:hover{
	  color: skyblue;
	  cursor: pointer;
	}
      }
    }
  }

  .content {
    margin-bottom: 200px;
  }

  .login_form {
    width: 400px; 
    margin: 150px 50px 100px 150px;
  }


  .create_account_form {
    width: 500px;
    margin: 100px 50px 100px 100px;
  }

  .login_form, .create_account_form {
    position: absolute;
    font-size: 1.3em;
    color: navy;
    border: navy solid 2px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
    padding: 40 100 40 100;
    h1 {
      display: inline-block;
      padding: 10 10 10 0;
    }
  
    .message_box {
      padding: 20px;
      margin: 10 0 10 0;
      border-radius: 10px;
      border: 2px solid;


    }

    .error {
      color: red;
      border-color: red;
      background: pink;
    }
    .success {
      color: green;
      border-color: green;
      background: lightgreen;
    }
  }

  .form_input {
    box-shadow: 5px 5px 2px grey;
    height: 2em;
  }

  .submit {
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5 10 5 10;
    background-color: navy;
    background-image: -webkit-gradient(linear, bottom, top, from(navy), to(skyblue)); 
    background-image: -moz-linear-gradient(center bottom, navy 0%, skyblue 100%);

    background-image: -ms-linear-gradient(center bottom, navy 0%, skyblue 100%);
    background-image: -o-linear-gradient(center bottom, navy 0%, skyblue 100%);
    color: white;
    cursor: pointer;
    &:hover {
      background-image: -moz-linear-gradient(center bottom, navy 0%, skyblue 76%);
      background-image: -ms-linear-gradient(center bottom, navy 0%, skyblue 76%);
      background-image: -o-linear-gradient(center bottom, navy 0%, skyblue 76%);
    }
  }

  .home_img {
    margin: 30px;
    text-align: center;
  }

  .login_bar {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    border-radius: 0px 0px 0px 5px;
    background: black;
    .login_button {
     margin: 5px 25px 5px 25px; 
     position: relative;
     display: inline-block; 
     cursor: pointer;
     &:hover {
       text-decoration: underline;
       color: skyblue;
     }
    }

  }

  .footer {
    background-color: skyblue;
    color: navy;
    position: fixed;
    bottom: 0px;
    width: 100%;
    .container {
      padding: 20px;
      text-align: center;
      .footer_button {
        cursor: pointer;
        display: inline-block;
	&:hover {
	  color: aliceblue;  
	}
      }
    }

  }
}
