body {
  .head {
    background-color: skyblue;
    color: navy;
    padding: 20px;
  }
  .nav_wrapper {
    background: navy;
    font-size: 20px;
    .nav_menu {
      text-align: center;
      color: white;
      .nav_button {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        &:hover{
	  color: skyblue;
	  cursor: pointer;
	}
      }
    }
  }
  .footer {
    background-color: skyblue;
    color: navy;
    position: absolute;
    bottom: 0px;
    width: 100%;
    .container {
      padding: 20px;
      text-align: center;
    }
  }
}
