body {
  .head {
    background-color: skyblue;
    color: navy;
    padding: 20px;
    .logo {
      cursor: pointer;
    }
  }
  .nav_wrapper {
    background: navy;
    font-size: 20px;
    .nav_menu {
      text-align: center;
      color: white;
      .nav_button {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        &:hover{
	  color: skyblue;
	  cursor: pointer;
	}
      }
    }
  }

  .content {
    margin-bottom: 200px;
  }
  
  .home_img {
    margin: 30px;
    text-align: center;
  }

  .login_bar {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    border-radius: 0px 0px 0px 5px;
    background: black;
    .login_button {
     margin: 5px 25px 5px 25px; 
     position: relative;
     display: inline-block; 
     cursor: pointer;
     &:hover {
       text-decoration: underline;
       color: skyblue;
     }
    }

  }

  .footer {
    background-color: skyblue;
    color: navy;
    position: fixed;
    bottom: 0px;
    width: 100%;
    .container {
      padding: 20px;
      text-align: center;
      .footer_button {
        cursor: pointer;
        display: inline-block;
	&:hover {
	  color: aliceblue;  
	}
      }
    }

  }
}
